<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-sm-12 col-lg-3">
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/address">Dashboard</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/address">Đơn đặt hàng</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/address">Đã giao</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link active" routerLink="/address">Địa chỉ</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/address">Tài khoản</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/address">Đăng xuất</a>
                </div>
            </div>

            <div class="col-12 col-md-7 col-sm-12 col-lg-9">
                <p>Các địa chỉ sau sẽ được sử dụng trên trang thanh toán theo mặc định</p>

                <div class="account-info">
                    <div class="card p-4">
                        <h4 class="card-title">Thông tin thanh toán<a routerLink="/edit-address" class="float-right text-sm">Chỉnh sửa</a></h4>
                        <address>Huỳnh Ngân<br>
                KP1<br>
                p.An Phú Đông<br>
                TP. Hồ Chí Minh<br>
              </address>
                    </div>

                    <div class="card p-4 mt-4">
                        <h4 class="card-title">Thông tin thanh toán<a routerLink="/edit-address" class="float-right text-sm">Edit</a></h4>
                        Bạn chưa thiết lập loại địa chỉ này
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>