<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-sm-12 col-lg-3">
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/profile-details">Đơn hàng</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/profile-details">Đã giao</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/profile-details">Địa chỉ</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link active" routerLink="/profile-details">Tài khoản</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/profile-details">Đăng xuất</a>
                </div>
            </div>
            <div class="col-12 col-md-7 col-sm-12 col-lg-9">
                <div class="tab-pane fade show active" id="settings" role="tabpanel">
                    <div class="acccount-settings">
                        <h4 class="mb-4">Thông tin cá nhân</h4>
                        <form action="#">
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Họ</label>
                                        <input type="text" class="form-control" placeholder="John">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Tên</label>
                                        <input type="text" class="form-control" placeholder="Jas">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label>Tên đăng nhập </label>
                                <input type="text" class="form-control" placeholder="Jassa">
                                <p class="mt-2">Đây sẽ là cách tên của bạn sẽ được hiển thị trong phần tài khoản và trong các bài đánh giá</p>
                            </div>
                            <div class="form-group mb-4">
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="therichposts@gmail.com">
                            </div>
                        </form>
                        <form action="#" class="mt-5">
                            <h4>Thay đổi mật khẩu</h4>
                            <div class="form-group">
                                <label>
                                    Mật khẩu hiện tại
                                </label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Mật khẩu hiện tại</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Nhập lại mật khẩu</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <a href="#" class="btn btn-dark">Cập nhật</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>