<div class="account section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-form border p-5">
                    <div class="text-center heading">
                        <h3 class="mb-2 h2">Khôi phục mật khẩu</h3>
                        <p class="lead">Vui lòng nhập địa chỉ email cho tài khoản của bạn. Một mã xác minh sẽ được gửi đến bạn. Khi bạn đã nhận được mã xác minh, bạn sẽ có thể chọn mật khẩu mới cho tài khoản của mình.</p>
                    </div>

                    <form action="#">
                        <div class="form-group mb-4">
                            <label for="#">Nhập địa chỉ Email</label>
                            <input type="text" class="form-control" placeholder="Enter Email Address">
                        </div>
                        <a href="#" class="btn btn-main mt-3 btn-block">Mã OTP</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>